:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
.container div {
    border: solid 2px black;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.middle {
    display: grid;
    grid-template-rows: 10% 90%;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.middle-left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.middle-center {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.middle-right {
    display: grid;
    grid-template-rows: 90% 10%;
}